  <div class="container" style="margin-right: auto; margin-left: auto;margin-top:20px">
    <body style="background-image:url(&quot;assets/img/back1.png&quot;);background-repeat:no-repeat;background-size:1024px;background-color:white;width:1024px;">
      {{partial 'navbar'}}
      {{outlet}}
    </body>
  </div>
