<div class="container" style="height:223px;"></div>
<div class="row" style="height:400px;width:1000px;margin:14px;padding:0px;max-width:none;background-color:rgba(66,101,170,0);">
  <div class="col-md-12" style="width:20px;"></div>
  <div class="col-md-6 col-md-offset-0" style="height:320px;width:450px;background-color:rgba(55,198,207,0.69);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);"></div>
  <div class="col-md-6 col-md-offset-0" style="height:400px;width:50px;background-color:rgba(62,66,157,0);"></div>
  <div class="col-md-6 col-md-offset-0" style="height:320px;width:450px;background-color:rgba(217,204,137,0.84);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);"></div>
</div>
