<div class="container" style="height:223px;"></div>
<div class="row" style="height:400px;width:1000px;margin:14px;padding:0px;max-width:none;background-color:rgba(66,101,170,0);">
  <div class="col-md-12" style="width:20px;"></div>
  <div class="col-md-6 col-md-offset-0" style="height:320px;width:450px;background-color:rgba(55,198,207,0.69);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);">
    <h1 class="text-uppercase text-center"><span>Create a List</span></h1><img src="assets/img/Tutorial1.png" width="450px" style="margin:0px;width:425px;height:255px;margin-bottom:0px;margin-top:-8px;margin-right:0px;margin-left:9px;"></div>
  <div class="col-md-6 col-md-offset-0" style="height:400px;width:50px;background-color:rgba(62,66,157,0);"></div>
  <div class="col-md-6 col-md-offset-0" style="height:320px;width:450px;background-color:rgba(217,204,137,0.84);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);">
    <h1 class="text-uppercase text-center"><span>Save a List</span></h1><img src="assets/img/Tutorial 2.png" style="margin:-18px;"></div>
</div>
